@use "sass:map";
@use "../grid_base/variables";
@use "../grid_mixin/breakpoints";
@use "../grid_mixin/grid-mixin";

// Common properties for all breakpoints
%grid-column {
    position: relative;
    width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty
    padding-right: var(--at-gtr);
    padding-left: var(--at-gtr);
}

// Framework grid generation

@mixin make-grid-columns($columns: variables.$grid-columns,
    $gutter: variables.$grid-gutter-width,
    $breakpoints: variables.$grid-breakpoints) {


    @each $breakpoint in map.keys($breakpoints) {
        $infix: breakpoints.breakpoint-infix($breakpoint, $breakpoints);

        // Allow columns to stretch full width below their breakpoints
        @for $i from 1 through $columns {
            .#{variables.$grid-col-prefix}#{$infix}-#{$i} {
                @extend %grid-column;
            }
        }

        .#{variables.$grid-col-prefix}#{$infix},
        .#{variables.$grid-col-prefix}#{$infix}-auto,
        .#{variables.$grid-col-prefix}#{$infix}-cust {
            @extend %grid-column;
        }

        @include breakpoints.media-breakpoint-up($breakpoint, $breakpoints) {

            // Provide basic `.grid-{bp}` classes for equal-width flexbox columns
            .#{variables.$grid-col-prefix}#{$infix} {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }

            .#{variables.$grid-col-prefix}#{$infix}-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: none; // Reset earlier grid tiers
            }

            // Add custom column properties for this breakpoint
            .#{variables.$grid-col-prefix}#{$infix}-cust {
                flex: 0 0 var(--at-cust-w);
                max-width: var(--at-cust-w);
            }

            @for $i from 1 through $columns {
                .#{variables.$grid-col-prefix}#{$infix}-#{$i} {
                    @include grid-mixin.make-col($i, $columns);
                }
            }

            .#{variables.$grid-prefix}-ord#{$infix}-first {
                order: -1;
            }

            .#{variables.$grid-prefix}-ord#{$infix}-last {
                order: $columns + 1;
            }

            @for $i from 0 through $columns {
                .#{variables.$grid-prefix}-ord#{$infix}-#{$i} {
                    order: $i;
                }
            }

            // `$columns - 1` because offsetting by the width of an entire row isn't possible
            @for $i from 0 through ($columns - 1) {
                @if not($infix=='' and $i==0) {

                    // Avoid emitting useless .offset-0
                    .#{variables.$grid-prefix}-ofst#{$infix}-#{$i} {
                        @include grid-mixin.make-col-offset($i, $columns);
                    }
                }
            }
        }
    }
}


// Grid
//
// Common styles for small and large grid columns

@if variables.$enable-grid-classes {
    @include make-grid-columns();
}