@use "sass:map";
@use "../grid_mixin/breakpoints";
@use "variables";


//
// Utilities for common `display` values
//

@each $breakpoint in map.keys(variables.$grid-breakpoints) {
    @include breakpoints.media-breakpoint-up($breakpoint) {
        $infix: breakpoints.breakpoint-infix($breakpoint, variables.$grid-breakpoints);

        .#{variables.$grid-prefix}#{$infix}-d-non {
            display: none;
        }

        .#{variables.$grid-prefix}#{$infix}-inl {
            display: inline;
        }

        .#{variables.$grid-prefix}#{$infix}-inl-blk {
            display: inline-block;
        }

        .#{variables.$grid-prefix}#{$infix}-blk {
            display: block;
        }

        .#{variables.$grid-prefix}#{$infix}-tbl {
            display: table;
        }

        .#{variables.$grid-prefix}#{$infix}-tbl-row {
            display: table-row;
        }

        .#{variables.$grid-prefix}#{$infix}-tbl-cel {
            display: table-cell;
        }

        .#{variables.$grid-prefix}#{$infix}-flx {
            display: flex;
        }

        .#{variables.$grid-prefix}#{$infix}-inl-flx {
            display: inline-flex;
        }
    }
}