@use "sass:map";
@use "../grid_mixin/breakpoints";
@use "variables";

// stylelint-disable declaration-no-important

//
// Utilities for common `display` values
//

@each $breakpoint in map.keys(variables.$grid-breakpoints) {
    @include breakpoints.media-breakpoint-up($breakpoint) {
        $infix: breakpoints.breakpoint-infix($breakpoint, variables.$grid-breakpoints);

        .#{variables.$grid-prefix}#{$infix}-d-non {
            display: none !important;
        }

        .#{variables.$grid-prefix}#{$infix}-inl {
            display: inline !important;
        }

        .#{variables.$grid-prefix}#{$infix}-inl-blk {
            display: inline-block !important;
        }

        .#{variables.$grid-prefix}#{$infix}-blk {
            display: block !important;
        }

        .#{variables.$grid-prefix}#{$infix}-tbl {
            display: table !important;
        }

        .#{variables.$grid-prefix}#{$infix}-tbl-row {
            display: table-row !important;
        }

        .#{variables.$grid-prefix}#{$infix}-tbl-cel {
            display: table-cell !important;
        }

        .#{variables.$grid-prefix}#{$infix}-flx {
            display: flex !important;
        }

        .#{variables.$grid-prefix}#{$infix}-inl-flx {
            display: inline-flex !important;
        }
    }
}