@use "../grid_mixin/grid-mixin";
@use "variables";

/*Grid Container widths*/

@if variables.$enable-grid-classes {
    .#{variables.$grid-prefix}-ctnr-min {
        @include grid-mixin.make-container-min();
    }
}

@if variables.$enable-grid-classes {
    .#{variables.$grid-prefix}-ctnr {
        @include grid-mixin.make-container();
        //uncomment if media query required
        //@include make-container-max-widths();
    }
}

/*Grid Fluid container*/
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.

@if variables.$enable-grid-classes {
    .#{variables.$grid-prefix}-ctnr-fld {
        @include grid-mixin.make-container-fld();
    }
}

/*Grid Row*/
// Grid Rows contain and clear the floats of your columns.

@if variables.$enable-grid-classes {
    .#{variables.$grid-prefix}-row {
        @include grid-mixin.make-row();

    }

    // Remove the negative margin from default .row, then the horizontal padding
    // from all immediate children columns (to prevent runaway style inheritance).
    .#{variables.$grid-prefix }-no-gtr {
        margin-right: 0;
        margin-left: 0;

        >.#{variables.$grid-col-prefix},
        >[class*='#{variables.$grid-col-prefix}-'] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}


/*Gap*/
@if variables.$enable-grid-classes {
    .#{variables.$grid-prefix}-gap {
        @include grid-mixin.make-gap();
    }
}

@if variables.$enable-grid-classes {
    .#{variables.$grid-prefix}-row-gap {
        @include grid-mixin.make-row-gap();
    }
}

@if variables.$enable-grid-classes {
    .#{variables.$grid-prefix}-col-gap {
        @include grid-mixin.make-col-gap();
    }
}
