@use "../grid_base/variables";

//
// Utilities for toggling `display` in print
//
// Included only by the atomic-max bundle (grid-max.scss).

@media print {
    .at-prt-non {
        display: none;
    }

    .at-prt-inl {
        display: inline;
    }

    .at-prt-inl-blk {
        display: inline-block;
    }

    .at-prt-blk {
        display: block;
    }

    .at-prt-tbl {
        display: table;
    }

    .at-prt-tbl-row {
        display: table-row;
    }

    .at-prt-tbl-cel {
        display: table-cell;
    }

    .at-prt-flx {
        display: flex;
    }

    .at-prt-inl-flx {
        display: inline-flex;
    }
}
