@use "../grid_base/variables";

//
// Utilities for toggling `display` in print
//
// Included only by the atomic-max bundle (grid-max.scss).

@media print {
    .#{variables.$grid-prefix}-prt-non {
        display: none;
    }

    .#{variables.$grid-prefix}-prt-inl {
        display: inline;
    }

    .#{variables.$grid-prefix}-prt-inl-blk {
        display: inline-block;
    }

    .#{variables.$grid-prefix}-prt-blk {
        display: block;
    }

    .#{variables.$grid-prefix}-prt-tbl {
        display: table;
    }

    .#{variables.$grid-prefix}-prt-tbl-row {
        display: table-row;
    }

    .#{variables.$grid-prefix}-prt-tbl-cel {
        display: table-cell;
    }

    .#{variables.$grid-prefix}-prt-flx {
        display: flex;
    }

    .#{variables.$grid-prefix}-prt-inl-flx {
        display: inline-flex;
    }
}
