@use 'variable';

/*Color*/
@use 'color.scss';

//Global CSS : Applied to all HTML including or excluding Atomic CSS
* {
    #{variable.$varPrefix}-m: 0;
    #{variable.$varPrefix}-p: 0;
    #{variable.$varPrefix}-box-szg: border-box;
}

body {
    #{variable.$varPrefix}-fnt-fam: 'Open Sans', sans-serif;
}

//element styles
h1,
h2,
h3,
h4,
h5,
h6 {
    #{variable.$varPrefix}-fnt-wt: bold;
}

h1 {
    #{variable.$varPrefix}-cl: #060606;
    #{variable.$varPrefix}-fnt-sz: 50px;
    #{variable.$varPrefix}-m: 0 0 30px 0;
    margin : var(#{variable.$varPrefix}-m);
}

h2 {
    #{variable.$varPrefix}-cl: #060606;
    #{variable.$varPrefix}-fnt-sz: 43px;
    #{variable.$varPrefix}-m: 0 0 30px 0;
    margin : var(#{variable.$varPrefix}-m);
}

h3 {
    #{variable.$varPrefix}-cl: #060606;
    #{variable.$varPrefix}-fnt-sz: 36px;
    #{variable.$varPrefix}-m: 0 0 25px 0;
    margin : var(#{variable.$varPrefix}-m);
}

h4 {
    #{variable.$varPrefix}-cl: #060606;
    #{variable.$varPrefix}-fnt-sz: 29px;
    #{variable.$varPrefix}-m: 0 0 20px 0;
    margin : var(#{variable.$varPrefix}-m);
}

h5 {
    #{variable.$varPrefix}-cl: #060606;
    #{variable.$varPrefix}-fnt-sz: 22px;
    #{variable.$varPrefix}-m: 0 0 15px 0;
    margin : var(#{variable.$varPrefix}-m);
}

h6 {
    #{variable.$varPrefix}-cl: #060606;
    #{variable.$varPrefix}-fnt-sz: 14px;
    #{variable.$varPrefix}-m: 0 0 10px 0;
    margin : var(#{variable.$varPrefix}-m);
}

p {
    #{variable.$varPrefix}-fnt-sz: 16px;
    #{variable.$varPrefix}-cl: #3c3c3c;
    #{variable.$varPrefix}-m: 0 0 15px 0;
    margin : var(#{variable.$varPrefix}-m);
}

a {
    #{variable.$varPrefix}-fnt-sz: 14px;
    #{variable.$varPrefix}-cl: #712cf9;

    &:hover {
        #{variable.$varPrefix}-cl: #4718a4;
    }
}

code {
    #{variable.$varPrefix}-cl: #d63384;
}

li {
    #{variable.$varPrefix}-cl: #3c3c3c;
}

img {
    #{variable.$varPrefix}-w: 100%;
    max-width : var(#{variable.$varPrefix}-w);
}

article {
    #{variable.$varPrefix}-fnt-fam: 'Open Sans', sans-serif;
    #{variable.$varPrefix}-fnt-sz: 14px;
    #{variable.$varPrefix}-cl: #000;

    h4 {
        #{variable.$varPrefix}-m: 0 0 15px 0;
        margin : var(#{variable.$varPrefix}-m);
    }

    figure {
        #{variable.$varPrefix}-m: 15px 0;
        margin : var(#{variable.$varPrefix}-m);
    }

    header {
        div {
            gap: 5px;

            span {
                gap: 5px;
            }
        }
    }
}

details {
    transition: all 0.5s ease-in-out 0s;

    &:not(:last-of-type) {
        #{variable.$varPrefix}-m: 0 0 15px 0;
        margin : var(#{variable.$varPrefix}-m);
    }

    summary {
        #{variable.$varPrefix}-bdr-w: 1px;
        #{variable.$varPrefix}-bdr-sty: solid;
        #{variable.$varPrefix}-bdr-cl: #ddd;
        #{variable.$varPrefix}-p: 10px;
        #{variable.$varPrefix}-fnt-fam: 'Open Sans', sans-serif;
        #{variable.$varPrefix}-m: 0 0 15px 0;
        #{variable.$varPrefix}-cl: #000;
        list-style: none;
        margin : var(#{variable.$varPrefix}-m);
        color : var(#{variable.$varPrefix}-cl);
        border-color : var(#{variable.$varPrefix}-bdr-cl);
        border-width : var(#{variable.$varPrefix}-bdr-w);
        border-style : var(#{variable.$varPrefix}-bdr-sty);
        padding : var(#{variable.$varPrefix}-p);
        font-family : var(#{variable.$varPrefix}-fnt-fam);
        cursor: pointer;

        svg {
            transition: all 0.5s ease-in-out 0s;
        }
    }

    &[open] {
        transition: all 0.5s ease-in-out 0s;

        summary {
            svg {
                #{variable.$varPrefix}-tf: rotate(180deg);
                transform : var(#{variable.$varPrefix}-tf);
            }
        }
    }
}

//For Global Button need button tag

#{variable.$appPrefix} {
    &-btn {

        #{variable.$varPrefix}-cl: #fff;
        #{variable.$varPrefix}-bg-cl: #0d6efd;
        #{variable.$varPrefix}-bdr-cl: #0c5ed7;
        #{variable.$varPrefix}-bdr-w: 1px;
        #{variable.$varPrefix}-bdr-sty: solid;
        #{variable.$varPrefix}-p: 10px 25px;

        &:hover {
            #{variable.$varPrefix}-cl: #fff;
            #{variable.$varPrefix}-bg-cl: #0f4087;
            #{variable.$varPrefix}-bdr-cl: #0f4087;
        }


        &-outl {
            #{variable.$varPrefix}-bg-cl: transparent;
            #{variable.$varPrefix}-cl: #0c5ed7;
            #{variable.$varPrefix}-bdr-cl: #0c5ed7;
            #{variable.$varPrefix}-bdr-w: 1px;
            #{variable.$varPrefix}-bdr-sty: solid;
            #{variable.$varPrefix}-p: 10px 15px;

            &:hover {
                #{variable.$varPrefix}-bg-cl: transparent;
                #{variable.$varPrefix}-cl: #0c5ed7;
                #{variable.$varPrefix}-bdr-cl: #0f4087;
            }
        }

        &-lnk {
            #{variable.$varPrefix}-cl: #0c5ed7;
            #{variable.$varPrefix}-bg-cl: transparent;
            #{variable.$varPrefix}-bdr-w: 0;
            #{variable.$varPrefix}-p: 0;

            &:hover {
                #{variable.$varPrefix}-cl: #0f4087;
                #{variable.$varPrefix}-bg-cl: transparent;
            }
        }
    }
}

//Global CSS : Applied to only HTML of Atomic CSS excluding other global HTML
//demo styles
#{variable.$appPrefix} {
    &-btn {
        &#{variable.$appPrefix} {
            &-p {
                #{variable.$varPrefix}-p: 10px 30px;
            }
        }
    }

    &-sec {
        &-1 {
            #{variable.$varPrefix}-bg-cl: #ececec;

            &#{variable.$appPrefix} {
                &-p {
                    #{variable.$varPrefix}-p: 40px 0;
                }
            }
        }

        &-2 {
            #{variable.$varPrefix}-bg-cl: #fff;

            &#{variable.$appPrefix} {
                &-p {
                    #{variable.$varPrefix}-p: 80px 0;
                }
            }
        }

        &-3 {
            #{variable.$varPrefix}-bg-cl: #fbfbfb;

            &#{variable.$appPrefix} {
                &-p {
                    #{variable.$varPrefix}-p: 80px 0;
                }
            }
        }
    }

    &-tbl {
        #{variable.$varPrefix}-m: 0 0 30px 0;
        margin : var(#{variable.$varPrefix}-m);

        #{variable.$appPrefix} {
            &-bdr {
                #{variable.$varPrefix}-bdr-w: 0 0 1px 0;
                #{variable.$varPrefix}-bdr-sty: solid;
                #{variable.$varPrefix}-bdr-cl: #ddd;
            }
        }

        &-cel {
            #{variable.$varPrefix}-p: 15px;
            #{variable.$varPrefix}-bdr-w: 0 0 1px 0;
            #{variable.$varPrefix}-bdr-sty: solid;
            #{variable.$varPrefix}-bdr-cl: #ddd;
            padding : var(#{variable.$varPrefix}-p);
            border-style : var(#{variable.$varPrefix}-bdr-sty);
            border-width : var(#{variable.$varPrefix}-bdr-w);
            border-color : var(#{variable.$varPrefix}-bdr-cl);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                #{variable.$varPrefix}-m: 0;
            }

            &#{variable.$appPrefix} {
                &-cl {
                    #{variable.$varPrefix}-cl: #323537;
                    color: var(#{variable.$varPrefix}-cl);
                }
            }
        }
    }

    &-m {
        &.mt-15 {
            #{variable.$varPrefix}-m: 15px 0 0 0;
        }

        &.mt-30 {
            #{variable.$varPrefix}-m: 30px 0 0 0;
        }

        &.mb-30 {
            #{variable.$varPrefix}-m: 0 0 30px 0;
        }

        &.mb-15 {
            #{variable.$varPrefix}-m: 0 0 15px 0;
        }
    }

    &-img {
        max-width: 100%;
        height: auto;
    }

    //gap
    &-gap {
        &-5 {
            #{variable.$varPrefix}-gap: 5px;
        }

        &-20 {
            #{variable.$varPrefix}-gap: 20px;
        }
    }

    //post
    &-post {
        &#{variable.$appPrefix} {
            &-p {
                #{variable.$varPrefix}-p: 20px;
            }

            &-bdr {
                #{variable.$varPrefix}-bdr-w: 1px;
                #{variable.$varPrefix}-bdr-cl: #ddd;
                #{variable.$varPrefix}-bdr-sty: solid;
            }

            &-rad {
                #{variable.$varPrefix}-bdr-rad: 5px;
            }

            &-bg-cl {
                #{variable.$varPrefix}-bg-cl: #fff;
            }

            &-box-sdw {
                #{variable.$varPrefix}-box-sdw: 0 0 10px 1px rgba(0, 0, 0, 0.03);
            }
        }

        #{variable.$appPrefix} {
            &-m {
                &.m-minus {
                    #{variable.$varPrefix}-m: 20px -20px;
                }
            }
        }

        &-ttl {
            &#{variable.$appPrefix} {
                &-typo {
                    #{variable.$varPrefix}-fnt-sz: 28px;
                    #{variable.$varPrefix}-fnt-wt: 700;
                }
            }
        }

        &-mtdt {
            #{variable.$varPrefix}-gap: 20px;
        }
    }

    // Accordion

    &-acc {
        &-ttl {
            #{variable.$varPrefix}-bg-cl: #f5f5f5;

            &:hover {
                #{variable.$varPrefix}-bg-cl: #0d6efd;
                #{variable.$varPrefix}-bdr-cl: #0c5ed7;
                #{variable.$varPrefix}-cl: #fff;
            }
        }

        &[open] {
            #{variable.$appPrefix} {
                &-acc {
                    &-ttl {
                        #{variable.$varPrefix}-bg-cl: #0d6efd;
                        #{variable.$varPrefix}-bdr-cl: #0c5ed7;
                        #{variable.$varPrefix}-cl: #fff;
                    }
                }
            }
        }
    }

    //Nav Tabs
    &-nav {
        list-style: none;

        &-lnk {
            #{variable.$varPrefix}-bg-cl: transparent;
            #{variable.$varPrefix}-p: 10px 15px;
            #{variable.$varPrefix}-bdr-cl: transparent;
            #{variable.$varPrefix}-bdr-w: 1px;
            #{variable.$varPrefix}-bdr-sty: solid;
            #{variable.$varPrefix}-cl: #000;

            padding : var(#{variable.$varPrefix}-p);
            background-color: var(#{variable.$varPrefix}-bg-cl);
            border-style : var(#{variable.$varPrefix}-bdr-sty);
            border-width : var(#{variable.$varPrefix}-bdr-w);
            border-color : var(#{variable.$varPrefix}-bdr-cl);
            color : var(#{variable.$varPrefix}-cl);

            &#{variable.$appPrefix} {
                &-active {
                    #{variable.$varPrefix}-bg-cl: #fbfbfb;
                    #{variable.$varPrefix}-bdr-cl: #ddd #ddd transparent #ddd;
                    border-color : var(#{variable.$varPrefix}-bdr-cl);
                }
            }
        }

        &-tabs {
            #{variable.$varPrefix}-bdr-cl: #ddd;
            #{variable.$varPrefix}-bdr-w: 0 0 1px 0;
            #{variable.$varPrefix}-bdr-sty: solid;
            border-style : var(#{variable.$varPrefix}-bdr-sty);
            border-width : var(#{variable.$varPrefix}-bdr-w);
            border-color : var(#{variable.$varPrefix}-bdr-cl);

            #{variable.$appPrefix} {
                &-nav {
                    &-lnk {
                        #{variable.$varPrefix}-m: calc(-1 * var(#{variable.$varPrefix}-bdr-w));
                        margin : var(#{variable.$varPrefix}-m);
                    }
                }
            }

            &-fill {
                #{variable.$varPrefix}-bdr-cl: #0d6efd;

                #{variable.$appPrefix} {
                    &-nav {
                        &-lnk {
                            #{variable.$varPrefix}-cl: #0d6efd;
                            color : var(#{variable.$varPrefix}-cl);

                            &#{variable.$appPrefix} {
                                &-active {
                                    #{variable.$varPrefix}-cl: #fff;
                                    #{variable.$varPrefix}-bg-cl: #0d6efd;
                                    #{variable.$varPrefix}-bdr-cl: #0d6efd #0d6efd transparent #0d6efd;
                                    border-color : var(#{variable.$varPrefix}-bdr-cl);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-tab {
        &-pane {
            #{variable.$varPrefix}-p: 15px;
            padding : var(#{variable.$varPrefix}-p);
        }
    }

    &-footer {
        &#{variable.$appPrefix} {
            &-p {
                #{variable.$varPrefix}-p: 20px;
            }

            &-txt-al {
                #{variable.$varPrefix}-txt-al: center;
            }

            &-m {
                #{variable.$varPrefix}-m: 0;
            }
        }
    }
}

[data-at-theme='dark'] {
    #{variable.$varPrefix}-cl: #fff;
    #{variable.$varPrefix}-bg-cl: #000;
    #{variable.$varPrefix}-bdr-cl: #000;

    //elements : h1-h6,p,button,a
    h1 {
        #{variable.$varPrefix}-cl: #fff;
    }

    h2 {
        #{variable.$varPrefix}-cl: #fff;
    }

    h3 {
        #{variable.$varPrefix}-cl: #fff;
    }

    h4 {
        #{variable.$varPrefix}-cl: #fff;
    }

    h5 {
        #{variable.$varPrefix}-cl: #fff;
    }

    h6 {
        #{variable.$varPrefix}-cl: #fff;
    }

    p {
        #{variable.$varPrefix}-cl: #fff;
    }

    a {
        #{variable.$varPrefix}-cl: #fff;
    }

    #{variable.$appPrefix} {
        &-btn {

            #{variable.$varPrefix}-cl: #fff;
            #{variable.$varPrefix}-bg-cl: #000;
            #{variable.$varPrefix}-bdr-cl: #000;

            &:hover {
                #{variable.$varPrefix}-cl: #fff;
                #{variable.$varPrefix}-bg-cl: #2d2d2d;
                #{variable.$varPrefix}-bdr-cl: #2d2d2d;
            }


            &-outl {
                #{variable.$varPrefix}-bg-cl: transparent;
                #{variable.$varPrefix}-cl: #2d2d2d;
                #{variable.$varPrefix}-bdr-cl: #2d2d2d;

                &:hover {
                    #{variable.$varPrefix}-cl: #666;
                    #{variable.$varPrefix}-bdr-cl: #666;
                }
            }

            &-lnk {
                #{variable.$varPrefix}-cl: #fff;
                #{variable.$varPrefix}-bg-cl: transparent;

                &:hover {
                    #{variable.$varPrefix}-bg-cl: transparent;
                    #{variable.$varPrefix}-cl: #2d2d2d;
                }
            }
        }
    }

    article {
        #{variable.$varPrefix}-cl: #fff;
    }

    details {
        summary {
            #{variable.$varPrefix}-bdr-cl: #444;
            #{variable.$varPrefix}-cl: #fff;
        }
    }

    //demo styles
    #{variable.$appPrefix} {
        &-sec {
            &-1 {
                #{variable.$varPrefix}-bg-cl: #0d0d0d;
            }

            &-2 {
                #{variable.$varPrefix}-bg-cl: #000;
            }

            &-3 {
                #{variable.$varPrefix}-bg-cl: #131313;
            }
        }

        &-tbl {
            &-cel {
                #{variable.$varPrefix}-cl: #fff;

                &#{variable.$appPrefix} {
                    &-cl {
                        #{variable.$varPrefix}-cl: #828282;
                    }
                }
            }
        }

        // Accordion

        &-acc {
            &-ttl {
                #{variable.$varPrefix}-bg-cl: #131313;

                &:hover {
                    #{variable.$varPrefix}-bg-cl: #2d2d2d;
                    #{variable.$varPrefix}-bdr-cl: #333;
                    #{variable.$varPrefix}-cl: #fff;
                }
            }

            &[open] {
                #{variable.$appPrefix} {
                    &-acc {
                        &-ttl {
                            #{variable.$varPrefix}-bg-cl: #2d2d2d;
                            #{variable.$varPrefix}-bdr-cl: #333;
                            #{variable.$varPrefix}-cl: #fff;
                        }
                    }
                }
            }
        }

        //post
        &-post {
            &#{variable.$appPrefix} {
                &-bdr {
                    #{variable.$varPrefix}-bdr-cl: #131313;
                }

                &-bg-cl {
                    #{variable.$varPrefix}-bg-cl: #2d2d2d;
                }
            }
        }

        //Nav Tabs
        &-nav {
            list-style: none;

            &-lnk {
                #{variable.$varPrefix}-cl: #fff;

                &#{variable.$appPrefix} {
                    &-active {
                        #{variable.$varPrefix}-bg-cl: #131313;
                        #{variable.$varPrefix}-bdr-cl: #ddd #ddd transparent #ddd;
                    }
                }
            }

            &-tabs {
                #{variable.$varPrefix}-bdr-cl: #ddd;

                &-fill {
                    #{variable.$varPrefix}-bdr-cl: #131313;

                    #{variable.$appPrefix} {
                        &-nav {
                            &-lnk {
                                #{variable.$varPrefix}-cl: #2d2d2d;

                                &#{variable.$appPrefix} {
                                    &-active {
                                        #{variable.$varPrefix}-cl: #fff;
                                        #{variable.$varPrefix}-bg-cl: #131313;
                                        #{variable.$varPrefix}-bdr-cl: #131313 #131313 transparent #131313;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //Wrapper elements : header,footer,section,article,aside,div,main,nav
}

@media (min-width: 576px) {
    .at-ctnr {
        --at-ctnr: 540px;
    }
}

@media (min-width: 768px) {
    .at-ctnr {
        --at-ctnr: 720px;
    }
}

@media (min-width: 992px) {
    .at-ctnr {
        --at-ctnr: 960px;
    }
}

@media (min-width: 1200px) {
    .at-ctnr {
        --at-ctnr: 1140px;
    }
}

@media (min-width: 1400px) {
    .at-ctnr {
        --at-ctnr: 1320px;
    }
}