// stylelint-disable declaration-no-important

// Flex variation
//
// Custom styles for additional flex alignment options.

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .#{$grid-prefix}-flex#{$infix}-row            { flex-direction: row !important; }
    .#{$grid-prefix}-flex#{$infix}-column         { flex-direction: column !important; }
    .#{$grid-prefix}-flex#{$infix}-row-reverse    { flex-direction: row-reverse !important; }
    .#{$grid-prefix}-flex#{$infix}-column-reverse { flex-direction: column-reverse !important; }

    .#{$grid-prefix}-flex#{$infix}-wrap         { flex-wrap: wrap !important; }
    .#{$grid-prefix}-flex#{$infix}-fill         { flex: 1 1 auto !important; }
    

    .#{$grid-prefix}-justify-content#{$infix}-start   { justify-content: flex-start !important; }
    .#{$grid-prefix}-justify-content#{$infix}-end     { justify-content: flex-end !important; }
    .#{$grid-prefix}-justify-content#{$infix}-center  { justify-content: center !important; }
    .#{$grid-prefix}-justify-content#{$infix}-between { justify-content: space-between !important; }
    .#{$grid-prefix}-justify-content#{$infix}-around  { justify-content: space-around !important; }

    .#{$grid-prefix}-align-items#{$infix}-start    { align-items: flex-start !important; }
    .#{$grid-prefix}-align-items#{$infix}-end      { align-items: flex-end !important; }
    .#{$grid-prefix}-align-items#{$infix}-center   { align-items: center !important; }
    .#{$grid-prefix}-align-items#{$infix}-baseline { align-items: baseline !important; }
    .#{$grid-prefix}-align-items#{$infix}-stretch  { align-items: stretch !important; }
  }
}
